html, body {
    margin: 0;
    padding: 0;
}

#section{
    height: 300vh;
    color: white;
}

.wrapper {
    position: absolute;
    border: 2px solid white;
    background-color: black;
    width: 40vw;
    height:min-content;
    display: inline-block;
    left: 25%;
    padding: 5vh 5vh 0vw 5vw;
    text-align: left;
    font-size: 4vh;
    top: 10vh;
}

#bg {
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#bg:before, #bg:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bg:before {
    transition: background-color 2.5s ease-in-out;
    transition-delay: 0.75s;
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../../images/overlay.png");
    background-size: auto,
 256px 256px;
			background-position: center,
 center;
			background-repeat: no-repeat,
 repeat;
			z-index: 1;
}

#bg:after {
    background-image:		url('bg.jpeg');
    background-position:	center;
    background-size:		cover;
    background-repeat:		no-repeat;
    transform: scale(1.125);
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;

}