html, body {
    margin: 0;
    padding: 0;
}

/*body:after {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
	background:url("bg.jpeg") no-repeat 50% 50%;
	background-size:cover;
}*/

html {
    background: url("bg.jpeg") no-repeat center center fixed;
    background-size: cover;
}

#section{
    height: 300vh;
    color: white;
}

.wrapper {
    position: absolute;
    border: 2px solid white;
    background-color: black;
    width: 40vw;
    height:min-content;
    display: inline-block;
    left: 25%;
    padding: 5vh 5vh 0vw 5vw;
    text-align: left;
    font-size: 4vh;
    top: 10vh;
}

/*#bg {
    position: fixed;
    background: url("bg.jpeg");
    background-position: center;
    background-size: cover;
    min-height: -webkit-fill-available;
    width: 100vw;
}*/
