$last-child: 6;

// Duration
$duration: (
	footer:     1s
);

// Size.
$size: (
	main-margin:			8rem,
	section-margin-bottom: 	2rem,
	tile-radius: 			3px
);

// Font.
$font: (
	family:				('Merriweather', Georgia, serif),
	family-heading:		('Source Sans Pro', Helvetica, sans-serif),
	family-fixed:		('Courier New', monospace),
	weight:				300,
	weight-bold:		600,
	weight-heading:		900
);

//Breakpoints
// Based on https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ and https://getbootstrap.com/docs/4.1/layout/overview/ 
$breakpoints: (
	mobile: 576px,
	tablet: 992px,
	tablet-landscape: 1200px
);

// Palette
$palette: (
	header-writing:     #f5f5f5, //whitesmoke
	main-writing: 		#212931,
	nav-writing: 		#212931,
	footer-writing:		rgb(#f5f5f5, 0.7),
	accent: 			#deb887,
	divider:			#eeeeee,

	pre-background: 	#deb887,
	main-background:	#ffffff,
	footer-background:rgb(#000000, 0.7)
);