.animation {

    &--resume {
        //opacity: 0;
        //animation-name: bounceInUp;
        animation-delay: 4s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    &--icon-tiny {
        animation: bounceInWait 11s infinite;
    }
}