.button {
    cursor: pointer;
    padding: 2px;
    span {
        color: #212931;
    }
    @include hoverable { 
        span, .icon {
            transition: color 0.2s ease-in-out;
        }
        &:hover {
            span, .icon {
                color: burlywood;
            }
        }
    }
    @include non-hoverable { 
        &:active {
            background-color: rgb(#eeeeee, 0.6);
            border-radius: 3px;
            span, .icon {
                color: burlywood;
            }
        }
    }

    &.network {
        display: flex;
    }

    &.nav-network {
        display: flex;
        border: 2px solid #eeeeee;
        border-radius: 50%;
        margin-right: 0.8rem;
        transition: border-color 0.2s ease-in-out;
        line-height: 1rem;
        height: 2rem;
        width: 2rem;
        @include hoverable {
            &:hover {
                border-color: burlywood;
            }
        }
        @include non-hoverable {
            transition: none;
            &:active {
                border-color: burlywood;
            }
        }
    }

    &.flag { 
        display: flex;
        align-items: center;
        margin-left: 1rem;
        @include non-hoverable { 
            &:active {
                background-color: rgb(#cccccc, 0.5);
            }
        }
        span {
            font-family: "Merriweather";
            font-size: 0.75rem;
            margin-left: 0.3rem;
        }
        &.active span {
            color: burlywood;
            font-weight: bold;
        }
    }

    &.toggle {
        span {
            color: white;
            margin-right: 0.4rem;
        }
        @include hoverable {
            &:hover {
                span {
                    color: burlywood;
                }
            }
        }
        @include non-hoverable {
            &:active {
                span {
                    color: burlywood;
                }
            }
        }
    }

    &-copiable {
        display: inline-block;
        &.copied {
            animation: 1s bounceIn;
        }
    }
    
    &.resume {
        display: inline-block;
        font-weight: 900;
        font-size: 1.1rem;
        padding: 20px 30px 20px 30px;
        letter-spacing: 0.03rem;
        line-height: 1rem;
        //background-color: rgb(219, 187, 145);
        //background: rgb(222,201,174);
        //background: radial-gradient(circle, rgba(222,201,174,1) 0%, rgba(222,184,135,1) 100%);
        border-radius: 30px;
        border: 2px solid white;
        //box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.5);
        transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        //background-image: radial-gradient(rgba(0, 0, 0, 0.10) 60%, rgba(0, 0, 0, 0.05) 80%);
                
        margin-top: 5rem;
        span {
            color: white;
            transition: color 0.2s ease-in-out;
        }
        @include hoverable {
            &:hover {
                background-color: rgba(245, 245, 245, 0.1);
                border-color: burlywood;
                span {
                    color: burlywood;
                }
            }
        }
        @include tablet-landscape {
            margin-top: 6rem;
            padding: 15px 20px 15px 20px;
            font-size: 1rem;
        }
    }
}