.icon {
    &.small {
        color: #212931;
        margin-right: 0.8rem;
        font-size: 1rem;
        &.resume {
            color: whitesmoke;
        }
    }
    &.tiny {
        margin-left: 0.2rem;
        font-size: 0.7rem;
    }
    &.semi-circled {
        font-size: 2.4rem;
        margin: auto auto;
    }
    &.big {
        color: rgb(250, 250, 250); 
        font-size: 3rem;
    }
    &.opening {
        color: white;
    }
    &.closing {
        color: #aaaaaa;
    }
    &.circled {
        color: #212931;
        font-size: 1.5rem;
        margin: auto auto;
    }
}

