.image {
    &.tiny {
        width: 1.7rem;
        height: 1rem;
        border-radius: 2px;
        box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0, 0.2);
    }
    &.profile-picture {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 5px solid map-get($palette, main-background);
        @include tablet {
            border-bottom: none;
        }
    }
    &.round {
        display: block;
        margin: 1.5rem auto;
        width: 25%;
        border-radius: 50%; 
        max-width: 150px;
        min-width: 100px;
        &.special {
            width: 36.7%;
            border-radius: 0;
            max-width: 218px; 
            min-width: 146px;
        }
    }
    &.square {
        display: block;
        margin: auto auto;
        width: 70%;
        max-width: 200px;
        min-width: 150px;
        @include tablet-landscape {
            max-width: 150px;
        }
    }
    &.framed {
        vertical-align: bottom;
        transition: transform 0.2s ease-out;
        width: 100%;
        @include hoverable {
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &.full-width {
        width: 100%;
        border-top-left-radius: map-get($size , tile-radius);
        border-top-right-radius: map-get($size , tile-radius);
    }
}