.tile {
    padding: 3rem 3rem 3rem 3rem;
    margin-bottom: 1rem;
    background-color: map-get($palette, main-background);
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.5);
    //background-image: url("../../images/blurry-overlay.png");
    &--cut {
        background-color: transparent;
        margin-bottom: 0;
        box-shadow: none;
    }
}

[class^="col-"] {
    display: flex;
    flex-direction: column;
}

[class^="col-"] .tile {
    flex:1;
}

[class^="col-"] .tile__wrapper {
    flex:1;
}