/* Basics */

html, body {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    &.parallax {
        background: url("../../images/background.jpeg") no-repeat fixed;
        background-position-x: center;
        background-size: cover;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}