/* Basics */

html, body {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}

body:after {
    background-image: url("../../images/background2.jpeg") center center;
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}