/* Type */

html {
    font-size: 16px;
}

body {
    color: map-get($palette, main-writing);
    font-family: map-get($font, family);
    font-weight: map-get($font, weight);
    font-size: 1rem;
	line-height: 2.375;
}

nav {
    font-family: map-get($font, family-heading);
    font-weight: map-get($font, weight-bold);
    span {
        color: map-get($palette, nav-writing);
    }
}

header {
    font-family: map-get($font, family-heading);
    color: map-get($palette, header-writing);
}


h1, h2 {
    font-weight: map-get($font, weight-heading);
    line-height: 1.5;
    letter-spacing: 0.075em;
}

h1 {
    font-size: 2.8rem;
    line-height: 1.1;
    margin: 0 0 map-get($size, element-margin) 0;
    text-transform: uppercase;
}

h2 {
    font-family: map-get($font, family-heading);
    color: map-get($palette, main);
    font-size: 1.75rem;
    line-height: 1.3;
}

h3 {
    font-family: map-get($font, family-heading);
    font-weight: map-get($font, weight-bold);
    color: map-get($palette, main);
    font-size: 1.6rem;
    line-height: 1.3;
}

h4 {
    font-family: map-get($font, family-heading);
    font-weight: map-get($font, weight-bold);
    color: map-get($palette, main);
    font-size: 1.5rem;
    line-height: 1.3;
}

mark {
    font-weight: 600;
    letter-spacing: 0.075rem;
    font-size: 1rem;
    line-height: 2;
}

p {
    text-align: justify;
}

.place {
    margin-top: 1rem;
}

.indent {
    text-indent: 4rem;
}

footer p {
    text-align: center;
    font-family: map-get($font, family-heading);
    color: map-get($palette, footer-writing);
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}