/* Type */

html {
    font-size: 16px;
    @include tablet-landscape {
        font-size: 15px;
    }
}

body {
    color: map-get($palette, main-writing);
    font-family: map-get($font, family);
    font-weight: map-get($font, weight);
    font-size: 1rem;
	line-height: 2.375; 
}

nav {
    font-family: map-get($font, family-heading);
    font-weight: map-get($font, weight-bold);
    span {
        color: map-get($palette, nav-writing);
    }
}

header {
    font-family: map-get($font, family-heading);
    color: map-get($palette, header-writing);
}


h1, h2, h3, h4 {
    font-family: map-get($font, family-heading);
    font-weight: map-get($font, weight-heading);
    color: map-get($palette, main);
    line-height: normal;
}

h1 {
    font-size: 2.8rem;
    margin: 0 0 1rem 0;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

h2 {
    color: map-get($palette, main);
    font-size: 1.75rem;
    letter-spacing: 0.075em;
}

h3, h4 {
    font-weight: map-get($font, weight-bold);
    letter-spacing: 0.03rem;
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

mark {
    font-weight: map-get($font, weight-bold);
    letter-spacing: 0.075rem;
    font-size: 1rem;
    line-height: 2;
}

p {
    text-align: justify;
}

em {
    display: block;
    font-weight: map-get($font, weight-bold);
    text-align: center;
    //text-decoration: underline;
}

.place {
    margin-top: 1.2rem;
}

.date {
    margin-left: calc(0.8rem + 0.8rem);
}

.indent {
    text-indent: 4rem;
}

footer p {
    text-align: center;
    font-family: map-get($font, family-heading);
    color: map-get($palette, footer-writing);
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}