@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
  
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
  
    75% {
        transform: translate3d(0, 10px, 0);
    }
  
    90% {
        transform: translate3d(0, -5px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from { 
        transform: translate3d(15%, 0, 0);
        opacity: 0;
    }
    to   { 
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeOutRight {
    from { 
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to   { 
        transform: translate3d(15%, 0, 0);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
      /*Fix the vanishing balloon bug*/
      padding-right: 0.1px;
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes bounceInWait {
    from, 1.81%, 3.63%, 5.45%, 7.27%, 9.09% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    1.81% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    3.63% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    5.45% {
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    7.27% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    9.09% {
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes slideInRight {
    from { 
        right: -263px;
    }
    to   { 
        right: 0px;
    }
}

@keyframes slideOutRight {
    from { 
      right: 0px;
    }
    to   { 
      right: -263px;
    }
}
