#background {
    /*background: url("../../images/background2.jpeg");
    position: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    transition: background-color 3s ease-in;
    transition-delay: 1s;*/
    /*body.is-preload & {
        z-index: 1;
        background-color: map-get($palette, pre-background);
    }*/
}

.jarallax {
    background-image: url("../../images/background2.jpeg");
}