header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 116vh;
    min-height: 35rem;
    /*max-width: 100%;*/
    text-align: center;
    background-position-y: -16rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0.20) 20%, rgba(0, 0, 0, 0) 45%);
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s; 
    
    .content {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        border-color: map-get($palette, accent);
        max-width: 100%;
        position: relative;
        margin-top: 0rem;
        transition: border-color 2s ease-in;
        /*body.is-preload &{
            border-color: white;
        }*/

        .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: max-height 0.75s ease, padding 0.75s ease;
            transition-delay: 0.25s;
            padding: 3rem 2rem;
            max-height: 40rem;
            overflow: hidden;
            /*body.is-preload & {
                max-height: 0;
                padding-top: 0;
                padding-bottom: 0;
            }*/
        }
    }
    /*body.is-preload & {
        filter: blur(0.125rem);
    }*/
    /*body.is-preload & > * {
        opacity: 0;
    }*/
}