.nav-toggle {
    display: none;

    @include tablet-landscape {
        position: fixed;
        top: 0.8rem;
        right: 1rem;
        display: flex;
        align-items: center;
        z-index: 102;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: "Source Sans Pro";
        filter: drop-shadow(0px 0px 8px rgb(0, 0, 0, 0.25));
        &.alt {
            background-color: rgb(255, 255, 255, 0.8);
            padding: 2px 17px 2px 17px;
            box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
        }
    }
}
