nav {
    transition: opacity 2s ease-in-out;
    transition-delay: 2s;
    text-align: right;
    position: fixed;
    right: 1.5%;
    top: calc(50% - 133px); // Can't apply translateY due to a jumpy navbar bug
    z-index: 1;
    hr {
        display: none;
    }
    .nav__contact {
        display: none;
    }
    svg {
        height: 12px;
        width: 12px;
        fill: transparent;
        transition: fill 0.1s ease-in-out;
        stroke: #000000;
        stroke-width: 4px;
    }
    span {
        display: inline-block;
        visibility: hidden;
        padding-right: 0.8rem;
    }
    a {
        &.link__disabled {
            span {
                animation: 0.3s ease-in-out fadeOutRight forwards;
                visibility: visible;
            }
        }
        &.link__active {
            span {
                animation: 0.3s ease-in-out fadeInRight forwards;
                visibility: visible;
            }
            svg {
                fill: #000000;
            }
        }
    }
    @include tablet-landscape {
        top: 0;
        right: 0;
        height: 100vh;
        text-align: left;
        background-color: white;
        padding: 0.8rem 6rem 3rem 2rem;
        transform: translateX(100%);
        overflow: scroll;
        z-index: 11;
        &.expanded {
            animation: slideInRight 0.4s ease-in-out forwards;
            box-shadow: 0 0 1.5rem 0 rgba(0,0,0,0.2);
        }
        &.hidden {
            animation: slideOutRight 0.4s ease-in-out forwards;
        }
        hr {
            display: block;
            border: none;
            margin: 0.3rem auto;
            height: 2px;
            width: 150%;
            background-color: #eeeeee;
        }
        svg {
            display: none;
        }
        span {
            visibility: visible;
            animation: none;
            transition: color 0.2s ease-in-out;
        }
        a {
            &.link__disabled {
                span {
                    animation: none;
                }
            }
            &.link__active {
                span {
                    animation: none;
                    color: burlywood;
                }
            }
        }
        .nav__contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1.5rem;
            position: relative;
            left: 24%;
        }
    }
    /*body.is-preload & {
        opacity: 0;
    }*/
}