#wrapper {
    .language {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 1rem;
        a {
            margin-left: 1rem;
        }
        @include tablet {
            display: none;
        }
    }
}