#wrapper {
    .language {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 1rem;
        a {
            margin-left: 1rem;
        }
        @include tablet-landscape {
            display: none;
        }
    }
    #overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgb(33, 41, 49, 0.5);
        z-index: 100;
    }
}

