#wrapper {
    .language {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 1rem;
        a {
            margin-left: 1rem;
        }
        @include tablet-landscape {
            display: none;
        }
    }
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: scale(1.0); // Fix the jumpy overlay when scrolling with the navbar opened
        z-index: 10;
        background-color: rgb(#212931, 0.5);
    }
}

