.identity {
    position: relative;
    h3 {
        display: inline-block;
        margin-bottom: 1.5rem;
        font-weight: map-get($font, weight-heading);
        font-size: 1.75rem;
        line-height: 1.3;
        letter-spacing: 0.075em;
    }
    h3:after {
        content: "";
        display: block;
        height: 2px;
        background: #212931;
        position: relative;
        left: 10px;
    }
    .profile-picture__container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 200px;
        z-index: 1;
        @include tablet {
            width: 180px;
        }
        @include mobile {
            width: 120px;
        }
    }
    .right-corner {
        h3 {
            margin-left: 2rem;
        }
        h3:after {
            width: 135px;
        }
    }
    .left-corner {
        text-align: right;
        h3 {
            margin-right: 2rem;
        }
        h3:after {
            width: 97px;
            left: -10px;
        }
        @include tablet {
            text-align: left;
            h3:after {
                left: 10px;
            }
        }
    }
}
